bezier/resources/dtd/configuration.dtd

<!ELEMENT configuration (name, width, height, borderWidth, rows, cols, resolutionMultiplier, offsetX, offsetY, gridWrapping, visibleGridColor, selectionColor, centralAxesColor, singleImageImport, importImagePath, importImageSequencePath, ImageSequenceFrameIncrement, imageBasedColor, imageBasedFillColor, imageBasedStrokeColor, autoImageDrawing, backgroundImagePath, displayBackgroundImage, referenceImagePath, displayReferenceImage, fillColorSelection, fillColor, strokeColor, drawSets, redrawBackground, backgroundColor, renderMode, strokeWeight, exportFilePath, exportFilePrefix, qualityMultiple, includeVisibleGrid)>

    <!ELEMENT name (#PCDATA)>
    <!ELEMENT width (#PCDATA)>
    <!ELEMENT height (#PCDATA)>
    <!ELEMENT borderWidth (#PCDATA)>
    <!ELEMENT rows (#PCDATA)>
    <!ELEMENT cols (#PCDATA)>
    <!ELEMENT resolutionMultiplier (#PCDATA)>
    <!ELEMENT offsetX (#PCDATA)>
    <!ELEMENT offsetY (#PCDATA)>
    <!ELEMENT gridWrapping (#PCDATA)>
    <!ELEMENT visibleGridColor (#PCDATA)>
    <!ELEMENT selectionColor (#PCDATA)>
    <!ELEMENT centralAxesColor (#PCDATA)>
    <!ELEMENT singleImageImport (#PCDATA)>
    <!ELEMENT importImagePath (#PCDATA)>
    <!ELEMENT importImageSequencePath (#PCDATA)>
    <!ELEMENT ImageSequenceFrameIncrement (#PCDATA)>
    <!ELEMENT imageBasedColor (#PCDATA)>
    <!ELEMENT imageBasedFillColor (#PCDATA)>
    <!ELEMENT imageBasedStrokeColor (#PCDATA)>
    <!ELEMENT autoImageDrawing (#PCDATA)>
    <!ELEMENT backgroundImagePath (#PCDATA)>
    <!ELEMENT displayBackgroundImage (#PCDATA)>
    <!ELEMENT referenceImagePath (#PCDATA)>
    <!ELEMENT displayReferenceImage (#PCDATA)>
    <!ELEMENT fillColorSelection (#PCDATA)>
    <!ELEMENT fillColor (#PCDATA)>
    <!ELEMENT strokeColor (#PCDATA)>
    <!ELEMENT drawSets (drawSet+)>
        <!ELEMENT drawSet (drawSetName, drawSetEnable, drawSetSequential, drawSetAnimator, drawSetFrames, drawSetDrawers+)>
           <!ELEMENT drawSetName (#PCDATA)>
           <!ELEMENT drawSetEnable (#PCDATA)>
           <!ELEMENT drawSetSequential (#PCDATA)>
           <!ELEMENT drawSetAnimator (#PCDATA)>
           <!ELEMENT drawSetFrames (drawSetFrame+)>
              <!ELEMENT drawSetFrame (#PCDATA)>
           <!ELEMENT drawSetDrawers (drawSetDrawer+)>
              <!ELEMENT drawSetDrawer (drawerName, drawerEnable, drawerAnimator, drawerRenderer)>
                <!ELEMENT drawerName (#PCDATA)>
                <!ELEMENT drawerEnable (#PCDATA)>
                <!ELEMENT drawerAnimator (#PCDATA)>
                <!ELEMENT drawerRenderer (#PCDATA)>
    <!ELEMENT redrawBackground (#PCDATA)>
    <!ELEMENT backgroundColor (#PCDATA)>
    <!ELEMENT renderMode (#PCDATA)>
    <!ELEMENT strokeWeight (#PCDATA)>
    <!ELEMENT exportFilePath (#PCDATA)>
    <!ELEMENT exportFilePrefix (#PCDATA)>
    <!ELEMENT qualityMultiple (#PCDATA)>
    <!ELEMENT includeVisibleGrid (#PCDATA)>